<p id="notice"><%= notice %></p>

<p>
  <strong>Open date:</strong>
  <%= @repair_request.open_date %>
</p>

<p>
  <strong>Close date:</strong>
  <%= @repair_request.close_date %>
</p>

<p>
  <strong>Request details:</strong>
  <%= @repair_request.request_details %>
</p>

<p>
  <strong>Request response:</strong>
  <%= @repair_request.request_response %>
</p>

<p>
  <strong>Submitter:</strong>
  <%= @repair_request.submitter_id %>
</p>

<p>
  <strong>Responder:</strong>
  <%= @repair_request.responder_id %>
</p>

<%= link_to 'Edit', edit_repair_request_path(@repair_request) %> |
<%= link_to 'Back', repair_requests_path %>
