<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @payment.ip_address %>
</p>

<p>
  <strong>First name:</strong>
  <%= @payment.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @payment.last_name %>
</p>

<p>
  <strong>Card expires on:</strong>
  <%= @payment.card_expires_on %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
