<!DOCTYPE html>
<html>
<head>
  <title>PropertyManagement</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>
				AuthLogic 
			</h1>
		</div>
		<div id="navigation">
			
			<%= render "shared/navigation" %>
			
		</div>
		<div id="content-container">
			<div id="content">
				<h2>
					<%= yield :title%>
				</h2>
				
				<p id="notice"><%= notice %></p>
				
				<%= yield :layout %>
				
			</div>
			<div id="aside">
				<% if content_for?(:sidebar) %>
				
					<%= yield :sidebar %>
				
				<% end %>
				<br />
			</div>
			
		</div>
		<div id="footer">
				Copyright © Site name, 20XX
		</div>
	</div>

</body>
</html>
